.keyfile-input-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#keyfile-input {
    width: auto;
}

.centered-cell {
    display: flex;
    align-items: center;
}

.centered-cell img {
    max-width: none;
}

#currency-select {
    max-width: 20rem;
}