.file-selector-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#file-selector {
    width: auto;
}

.address-cell {
    display: flex;
    align-items: center;
    gap: 1rem;
}