.keyfile-input-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#keyfile-input {
    width: auto;
}

.mb-1 {
    margin-bottom: 1rem;
}

.centered-cell {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#currency-select-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-start;
}

#currency-select-wrapper h4 {
    margin: 0px;
}

#currency-select-wrapper select {
    width: auto;
}

#hot-wallet-balance-wrapper h4 {
    margin: 0px;
}

.icon-18px {
    min-width: 18px;
}

.action-buttons-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.action-buttons-wrapper .button+.button {
    margin: 0px;
}


/* Loading circle */
.loading-circle {
    height: 20px;
    width: 20px;
    position: relative;
    display: inline-block;
    border: 2px solid;
    border-radius: 50%;
    border-top-color: transparent;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}