{{#if isList}}
<h3 class="m-b-05em">My invites:</h3>
{{/if}}
{{#each invites}}
<div class="invite-display">
    <h3 class="m-tb-0 m-r-05em">{{this.label}}:</h3>
    <h3 class="m-tb-0 m-r-05em invite">{{this.invite.invite}}</h3>
</div>
{{/each}}