<div class="margin-b-24px">
    <h3>Invites</h3>
    <div class="margin-b-24px">
        <label for="invite-label">Invite label:</label>
        <input type="text" id="invite-label" name="invite-label">
    </div>
    <button id="gen-invite-btn">Generate an invite</button>
    <div id="invite-display" class="invite-display margin-b-24px">
        <h3 id="invite-display-label" class="m-r-05em"></h3>
        <h3 id="invite-display-body" class="m-r-05em"></h3>
    </div>

    <button id="btn-list-invites">List my active invites</button>
    <div id="invites-list">

    </div>
</div>