{{#*inline "css"}}
<link rel="stylesheet" type="text/css" href="/css/style.css" />
{{/inline}}

{{#*inline "scripts"}}
<script src="/scripts/jscu.bundle.js"></script>
<script src="/scripts/jscec.bundle.js"></script>
<script src="/scripts/base64.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="/scripts/index.js"></script>
{{/inline}}

{{#*inline "page"}}
<h3>Select the private key file</h3>
<div class="file-selector-wrapper">
    <input type="file" id="file-selector" accept=".pem" />
    <span id="file-selector-status"></span>
</div>
<h3>Withdrawal requests</h3>
<table>
    <thead>
        <tr>
            <th><b>Time</b></th>
            <th><b>ID</b></th>
            <th><b>User</b></th>
            <th><b>Currency</b></th>
            <th><b>Withdrawal address</b></th>
            <th><b>Amount</b></th>
            <th><b>Status</b></th>
            <th><b>Actions</b></th>
        </tr>
    </thead>
    <tbody id="withdrawal-requests-table-body">
    </tbody>
</table>
{{/inline}}

{{> base}}