<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/chota.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="/scripts/handlebars.min-v4.7.7.js"></script>
    <script src="/scripts/qrcode.min.js"></script>
    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        {{~> page}}
    </div>
</body>

</html>