{{#*inline "page"}}

<script type="module" src="static/scripts/page/common.js"></script>
<script type="module" src="static/scripts/page/deposit.js"></script>

<div class="container">
  <span id="deposit"></span>
</div>

{{/inline}}
{{~> (parent)~}}