{{#*inline "page"}}

<script type="module" src="/scripts/page/common.js"></script>
<script type="module" src="/scripts/page/overview.js"></script>
<div class="container">
  <span id="balance"></span>
  <span id="history"></span>
  <div class="row">
    <div class="col is-center">
      <button class="button" id="loadMore">LoadMore</button>
    </div>
  </div>
</div>

{{/inline}}
{{~> (parent)~}}