{{#*inline "page"}}

<script type="module" src="static/scripts/page/common.js"></script>
<script type="module" src="static/scripts/page/signin.js"></script>

<div class="container">
    <div class="row  is-center text-center">
        <div class="col-4 card">
            <p>
            <h1>Sign In </h1>
            </p>
            <p>
                <input id="signinEmail" type="email" placeholder="name@email.com">
            </p>
            <p>
                <input id="signinPassword" type="password" placeholder="Type your Password">
            </p>
            <p>
                <label id="validationError" hidden="hidden" class="text-error"></label>
            </p>
            <p>
                <a href="/signup">or sign up</a>
            </p>
            <p>
                <button id="submit" class="button primary">Submit</button>
            </p>

        </div>
    </div>
</div>

{{/inline}}
{{~> (parent)~}}