{{#each balances}}
<style>
  body {
    background-color: #ECEFF4;
  }
  .page-content {
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    color: #282143;
  }
  .nav-logo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #282143;
  }
  .nav-lang{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #282143;
    }
  .nav-account {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #282143;
  }
  .content-row {
    margin-left: 40px;
    margin-right: 40px;
  }
  .balance-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #282143;
  }
  .balance-val-bg {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #282143;
  }
  .balance-val-gr {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #77778C;
  }
  .content-separator {
    border: 1px solid #D5D7E7;
    height: 1px;
  }
  .item-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282143;
  }
  .item-val-bg {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    color: #282143;
  }
  .item-val-gr {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #77778C;
  }
  .item-buttom-w {
    float: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: #282143;
  }
  .item-buttom-d {
    float: right;
    background-color: #409EFF !Important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
  }
  .column-item-one{
    padding: 12px;
  }
  .rt-item-one {
    width: 40px;
    height: 40px;
    background-color: #ECEFF4;
    border-radius: 20px;
    padding-left: 8px;
    padding-top: 8px;
  }
  .rt-item-icon-one {
    color: #409EFF;
  }
  .rt-item-two-bg {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282143;
  }
  .rt-item-two-gr {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #77778C;
  }
  .rt-item-three {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #77778C;
  }
  .rt-item-four {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #77778C;
  }
  .column-item-four{
    text-align: right;
  }
</style>

<div class="content-row mt-5">
  <div>
    <span class="item-label">
      {{this.currency}}
    </span>
  </div>
  <div>
    <span id="curr-val-{{this.currency}}" class="item-val-bg">
      {{formatCurrencyValue}}
    </span>
    <span id="usd-{{this.currency}}" class="item-val-gr">
    </span>
    <button onclick="location.href='/withdraw'"
     type="button" class="button item-buttom-w">
      Withdraw
    </button>
    <button onclick="location.href='/deposit'"
     type="button" class="button is-info mr-2 item-buttom-d">
      Deposit
    </button>
  </div>
</div>

{{/each}}
