{{#each balances}}
<div class="content-row mt-5">
    <div>
        <span id="bal-curr-label" class="item-label">
            {{formatCurrencyName}}
        </span>
    </div>
    <div>
        <span id="curr-val-{{formatCurrencyName}}" class="item-val-bg">
            {{formatCurrencyValue}}
        </span>
        <span id="usd-{{formatCurrencyName}}" class="item-val-gr">
        </span>
        <button onclick="location.href='/withdraw'" type="button" class="button item-buttom-w">
            Withdraw
        </button>
        <button onclick="location.href='/deposit'" type="button" class="button is-info mr-2 item-buttom-d">
            Deposit
        </button>
    </div>
</div>
{{/each}}