<script src="/scripts/qrcode.min.js"></script>
<style>
.is-horizontal-center {
  justify-content: center;
}
</style>

{{#each addresses}}
<div class="card column is-half is-offset-one-quarter">
  <div class="card-header">
    <p class="card-header-title is-centered">
      {{currency}} {{address}}
    </p>
  </div>
  <div class="card-image">
    <div class='card-content is-flex is-horizontal-center'>
        <figure class="image is-512x512">
          <div id="qrcode-{{currency}}">
          </div>
        </figure>
    </div>
  </div>
</div>
<div class="my-4"></div>

{{/each}}
