<div class="header-start">
    <a class="header-logo" href="/">
        LOGO
    </a>
    <div class="dropdown">
        <div class="dropdown-trigger">
            <button class="button header-dropdown header-lang">
                <span id="lang-span">
                    {{selected_lang}}
                </span>
                <span class="icon">
                    <i class="mdi mdi-chevron-down"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu">
            <div class="dropdown-content">
                <a id="lang-en" class="dropdown-item">
                    {{lang.english}}
                </a>
                <a id="lang-ru" class="dropdown-item">
                    {{lang.russian}}
                </a>
            </div>
        </div>
    </div>
</div>