{{#each histories}}

<div class="columns content-row">
  <div class="column-item-one">
    <div class="rt-item-one">
    </div>
  </div>
  <div class="column">
    <span class="rt-item-two-bg">Transaction {{currency}}</span>
    <br>
    <span class="rt-item-two-gr">{{timeStamp}}</span>
  </div>
  <div class="column">
    <span class="rt-item-three" style="width: 6ch;">{{hash}}</span>
  </div>
</div>
{{/each}}
