<div class="margin-b-24px">
    <span class="font-mid-size font-dark-grey">Security settings</span>
</div>
<button id="pass-change-label-btn" class="collapsible m-t-05em">Change password</button>
<div class="collapsible-content">
    <div class="row is-center fit-content" id="{{this.id}}-tab-body" style="display:block">
    <div class="content-row mt-5">
        <div class="font-mid-size font-bold m-b-05em mr-2em">Old password</div>
        <input id="old-password" type="text" class="input secure-input" type="password" placeholder="********">
    </div>
    <div class="content-row mt-5">
        <div class="font-mid-size font-bold m-b-05em mr-2em">New password</div>
        <input id="new-password" type="text" class="input secure-input" type="password" placeholder="********">
    </div>
    <div class="content-row mt-5">
        <div class="font-mid-size font-bold m-b-05em mr-2em">Repeat new password</div>
        <input id="new-password-rep" type="text" class="input secure-input" type="password" placeholder="********">
    </div>
    <button id="password-change-btn" type="button" class="button is-primary deposit-button margin-t-24px"> Confirm </button>
    </div>
</div>
<button class="collapsible m-t-05em">Set private key</button>
<div class="collapsible-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>