<div class="margin-b-24px">
    <span class="font-mid-size font-dark-grey">Security settings</span>
</div>
<button id="pass-change-label-btn" class="collapsible m-t-05em">Change password</button>
<div class="collapsible-content">
    <div class="row is-center fit-content" id="{{this.id}}-tab-body" style="display:block">
    <div class="content-row mt-5">
        <div class="font-mid-size font-bold m-b-05em mr-2em">Old password</div>
        <input id="old-password" type="text" class="input secure-input" type="password" placeholder="********">
    </div>
    <div class="content-row mt-5">
        <div class="font-mid-size font-bold m-b-05em mr-2em">New password</div>
        <input id="new-password" type="text" class="input secure-input" type="password" placeholder="********">
    </div>
    <div class="content-row mt-5">
        <div class="font-mid-size font-bold m-b-05em mr-2em">Repeat new password</div>
        <input id="new-password-rep" type="text" class="input secure-input" type="password" placeholder="********">
    </div>
    <button id="password-change-btn" type="button" class="button is-primary deposit-button margin-t-24px"> Confirm </button>
    </div>
</div>
{{#if hasKey}}
<button class="collapsible m-t-05em">Display private key mnemonic</button>
<div class="collapsible-content">
    <div id="mnemonic-password-box">
        <div class="font-mid-size font-dark-grey m-b-05em">Enter the key password to show mnemonic</div>
        <div class="inline-flex">
            <input id="show-mnemonic-password" type="text" class="input secure-input mr-2em" type="password" placeholder="********">
            <button id="show-mnemonic-btn" type="button" class="button is-primary deposit-button"> Confirm </button>
        </div>
    </div>
    <div id="mnemonic-box" class="m-t-1em" style="display: none;">
        <div id="mnemonic-display" class="font-small-size font-dark-grey m-b-05em"></div>
        <button id="clear-key" type="button" class="button is-primary deposit-button"> Clear the key </button>
    </div>
</div>
{{else}}
<button class="collapsible m-t-05em">Set private key</button>
<div class="collapsible-content">
    <div id="mnemonic-password-box">
        <div class="font-mid-size font-dark-grey m-b-05em">Enter a key password to generate mnemonic</div>
        <input id="gen-mnemonic-password" type="text" class="input secure-input mr-2em m-b-1em" type="password" placeholder="********">
        <div class="font-small-size font-dark-grey m-b-05em"> Repeat the password </div>
        <input id="gen-mnemonic-password-rep" type="text" class="input secure-input mr-2em m-b-1em" type="password" placeholder="********">
        <button id="gen-mnemonic-btn" type="button" class="button is-primary deposit-button"> Generate </button>
    </div>
    <div id="mnemonic-box" class="m-t-1em" style="display: none;">
        <div id="mnemonic-display" class="font-small-size font-dark-grey m-b-05em"></div>
        <button id="set-key" type="button" class="button is-primary deposit-button"> Set the key </button>
    </div>
</div>
{{/if}}