<div class="row is-center">
    {{#each addresses}}
    <div class="col-6 card">
        <div class="row">
            <div class="col">
                {{currency}}
            </div>
            <div class="col">
                {{address}}
            </div>
        </div>
    </div>
    {{/each}}
</div>