<script src="/scripts/qrcode.min.js"></script>

{{#each addresses}}
<div class="row is-center text-center ">
    <div class="col-6 card">
        <div id="qrcode" class="is-center"></div>
        <div>
            {{currency}} {{address}}
        </div>
    </div>
</div>


    {{/each}}