.content-separator {
    background-color: $custom-grey-lighter;
    border: none;
    display: block;
    height: 1px;
}

.history-box {
    padding: 0;
    margin-bottom: 24px !important;

    .history-header {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        padding: 24px 40px;
    }

    #history-table {
        padding: 0px 40px;

        td {
            padding-top: 24px;
            padding-bottom: 24px;
            vertical-align: middle;
        }

        .history-col-1 {
            padding-left: 0;
            padding-right: 12px;
            width: 20%;

            >div {
                display: flex;
                align-items: center;
                gap: 12px;
            }

            .history-col-1-icon {
                min-width: 40px;
                width: 40px;
                height: 40px;
                background-color: $custom-grey-lightest;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    color: $primary;
                    font-size: 20px;
                }
            }

            .history-col-1-info {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .history-col-1-info-1 {
                font-weight: 600;
                color: $custom-grey-dark;
                white-space: nowrap;
            }

            .history-col-1-info-2 {
                font-weight: 500;
                color: $custom-grey-light;
                white-space: nowrap;
            }

        }

        .history-col-2 {
            padding-left: 12px;
            padding-right: 12px;
            max-width: 100px;

            >div {
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
            }

            button {
                .icon {
                    color: $custom-grey-light;
                    font-size: 20px;
                }
            }

            button:hover {
                .icon {
                    color: $primary;
                }
            }

            button:focus {
                box-shadow: none !important;
            }

            a,
            span {
                color: $custom-grey-light;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            a:hover {
                color: $primary;
            }
        }

        .history-col-3 {
            padding-left: 12px;
            padding-right: 0px;
            width: 20%;
            font-weight: 600;
            color: $custom-grey-light;

            >div {
                text-align: right;
                white-space: nowrap;

                .is-deposit {
                    color: $primary;
                }

            }

        }
    }
}

.header {
    background-color: $custom-grey-lightest  !important;
    padding: 12px 20px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-start {
        display: flex;
        align-items: center;
    }

    .header-logo {
        color: $custom-grey-dark;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.02em;
        margin-right: 20px;
    }

    .dropdown-menu {
        min-width: 8rem;
    }

    .header-dropdown {
        font-weight: 500;
        background-color: transparent;
        color: $custom-grey-dark;

        .icon {
            font-size: 24px;
            margin-left: 0px !important;
        }
    }

    .header-lang {
        font-size: 14px;
        line-height: 20px;
        margin-right: 20px;
    }

    .header-email {
        font-size: 16px;
        line-height: 120%;
        border: none;
    }

    .header-account {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
    }
}

.balance-box {
    padding: 24px 40px;
    margin-bottom: 24px !important;

    .total-balance-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
    }

    .total-balance {
        font-weight: 600;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0.02em;

        #total-balance-usd {
            margin-right: 16px;
            white-space: nowrap;
        }

        #total-balance-rub {
            color: $custom-grey-light;
            white-space: nowrap;
        }
    }

    .content-separator {
        margin: 24px 0px;
    }

    #balances {

        .balances-item {
            margin-bottom: 24px;

            .balances-item-label {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
            }

            .balances-item-value {
                display: flex;
                align-items: center;
                gap: 8px;

                .balance-value {
                    font-weight: 600;
                    font-size: 28px;
                    line-height: 36px;
                }

                .balance-value-fiat {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    color: $custom-grey-light;
                }
            }

            .deposit-button {
                font-weight: 500;
                margin-right: 12px;
            }

            .withdraw-button {
                font-weight: 500;
            }

            @include mobile {

                .deposit-button,
                .withdraw-button {
                    margin-top: 8px;
                }

            }

        }

        .balances-item:last-child {
            margin-bottom: 0px;
        }
    }
}

#signin-box,
#signup-box {
    padding: 96px 85px;

    @include mobile {
        padding: 40px 24px;
    }

    .button {
        height: 54px;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
    }

    .control input,
    select {
        height: 54px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }

    .select {
        height: 54px;
    }

    .control input {
        padding: 15px 23px; // calc(16px - #{$control-border-width}) calc(24px - #{$control-border-width});
    }

    .login-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 64px;
        margin-bottom: 24px;

        @include tablet-only {
            font-size: 42px;
            line-height: 52px;
        }

        @include mobile {
            font-size: 32px;
            line-height: 40px;
        }
    }

    .field:not(:last-child) {
        margin-bottom: 32px;
    }
}

.withdraw-card {
    max-width: 40rem;
}

.fit-content {
    width: fit-content;
}

.mr-2em {
    margin-right: 2em;
}

.font-big-size {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
}

.zoom-1-6 {
    zoom: 1.6;
}

.ticker-with-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.font-mid-size {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.font-bold {
    font-weight: bold;
}

.margin-b-24px {
    margin-bottom: 24px;
}

.margin-t-24px {
    margin-top: 24px;
}

.font-dark-grey {
    color: #77778C;
}

.font-black {
    color: rgb(26, 26, 26);
}

.p-05em {
    padding: 0.5em;
}

.p-1rem {
    padding: 1rem;
}

span.is-danger {
    color: #f03a5f
}

.m-t-05em {
    margin-top: 0.5em;
}

.m-t-1em {
    margin-top: 1em;
}

.m-b-05em {
    margin-bottom: 0.5em;
}

.m-b-1em {
    margin-bottom: 1em;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    // background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
    padding: 1rem;
    display: none;
    overflow: hidden;
}

.collapsible:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: black;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

.secure-input {
    -webkit-text-security: disc !important;
}

.inline-flex {
    display: inline-flex;
}

.icon-36px {
    height: 36px;
}

.float-right {
    float: right;
}

.display-flex {
    display: flex;
}

.m-l-a {
    margin-left: auto;
}

.p-lr-1em {
    padding-left: 1em;
    padding-right: 1em;
}

.p-tb-05em {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

textarea.mnemonic {
    height: auto;
    resize: none;
    width: 50%;
}