{{#if isList}}
<h4>Active invites</h4>
{{else}}
<h4>Generated invites</h4>
{{/if}}
<table>
    <thead>
        <tr>
            <th><b>Label</b></th>
            <th><b>Invite</b></th>
        </tr>
    </thead>
    <tbody>
        {{#each invites}}
        <tr>
            <td>{{this.label}}:</td>
            <td>
                <div class="centered-cell invite-display">
                    <span class="invite">
                        {{this.invite.invite}}
                    </span>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>