<div class="m-b-05em">
    <h3>Invites</h3>
    <div class="m-b-05em">
        <label for="invite-label">Invite label:</label>
        <input type="text" id="invite-label" name="invite-label">
    </div>
    <button id="gen-invite-btn">Generate an invite</button>
    <div style="display: none;" id="invite-display" class="invite-display m-b-05em">
    </div>
    <button id="btn-list-invites">List my active invites</button>
    <div id="invites-list">

    </div>
</div>