<div class="card">
    <header>
        <nav class="tabs is-left" id="navigation-tabs">
            <a id="withdrawal-requests-tab" href="javascript:void(0)">Withdrawal requests</a>
            <a id="invites-tab" href="javascript:void(0)">Invites</a>
            <a id="withdrawal-limits-tab" href="javascript:void(0)">Withdrawal limits</a>
        </nav>
    </header>
    <div id="withdrawal-requests-tab-content"></div>
    <div id="invites-tab-content"></div>
    <div id="withdrawal-limits-tab-content"></div>
</div>