<nav class="tabs is-left mb-1" id="navigation-tabs">
    <a class="active" id="withdrawal-requests-tab" href="javascript:void(0)">Withdrawal requests</a>
    <a id="invites-tab" href="javascript:void(0)">Invites</a>
</nav>
<div id="withdrawal-requests-tab-content"></div>
<div id="invites-tab-content"></div>

