<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page_title}}</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    {{~> css}}
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css">
    {{~> scripts}}
    <script type="module" src="/scripts/page/header.js"></script>
    <script type="module" src="/scripts/localize.js"></script>
    <script type="module" src="/scripts/crypto.js"></script>
    <script type="module" src="/scripts/wordlist.js"></script>
    <script src="/scripts/jscu.bundle.js" defer></script>
    <script src="/scripts/jscec.bundle.js" defer></script>
    <script src="/scripts/base64.min.js" defer></script>
</head>

<body>
    {{> header}}
    <div class="container">
        {{~> page}}
    </div>
</body>

</html>