{{#*inline "page"}}

<script type="module" src="/scripts/page/common.js"></script>
<script type="module" src="/scripts/page/deposit.js"></script>
<link rel="stylesheet" href="css/style.css">
<style>
    body {
        background-color: #ECEFF4;
    }
</style>
<div id="deposit"></div>

{{/inline}}
{{> base_footer_header}}