{{#*inline "css"}}
{{/inline}}

{{#*inline "scripts"}}
<script type="module" src="/scripts/page/common.js"></script>
<script type="module" src="/scripts/page/deposit.js"></script>
<script src="/scripts/handlebars.min-v4.7.7.js" defer></script>
<script src="/scripts/qrcode.min.js" defer></script>
{{/inline}}

{{#*inline "page"}}
<div id="deposit"></div>
{{/inline}}

{{> base_with_header}}