<div class="header">
    <div class="header-start">
        <a class="header-logo" href="/overview">
            LOGO
        </a>
        <div class="dropdown">
            <div class="dropdown-trigger">
                <button class="button header-dropdown header-lang">
                    <span>EN</span>
                    <span class="icon">
                        <i class="mdi mdi-chevron-down"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu">
                <div class="dropdown-content">
                    <a href="#" class="dropdown-item">
                        English
                    </a>
                    <a href="#" class="dropdown-item">
                        Русский
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-right">
        <div class="dropdown is-right">
            <div class="dropdown-trigger">
                <button class="button header-dropdown header-email">
                    <span id="navbarlogin">test@mail.com</span>
                    <span class="icon">
                        <i class="mdi mdi-chevron-down"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu">
                <div class="dropdown-content">
                    <a href="/logout" class="dropdown-item">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>