<script type="module" src="/scripts/page/nav.js"></script>

<nav class="">
    <nav class="navbar" id="nav" style="background-color: #ECEFF4;">
        <div class="navbar-brand">
            <a href="" class="navbar-item nav-logo">
                <span>LOGO</span>
            </a>
        </div>
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable lang-dropdown has-text-weight-bold">
                <a class="navbar-link is-arrowless has-text-black">
                    <span>EN</span>
                    <span class="icon"><span class="mdi mdi-menu-down mdi-24px"></span></span>
                </a>
                <div class="navbar-dropdown is-boxed is-right">
                    <a class="navbar-item has-text-black">
                        <span>EN</span></a>
                    <a class="navbar-item has-text-black">
                        <span>РУ</span>
                    </a>
                </div>
            </div>
            <div class="navbar-item is-hoverable  has-text-weight-bold">
                <a class="navbar-item has-text-black" href="/overview">
                    <span>Overview</span>
                </a>
            </div>
            <div class="navbar-item is-hoverable  has-text-weight-bold">
                <a class="navbar-item has-text-black" href="/deposit">
                    <span>Deposit</span>
                </a>
            </div>
            <div class="navbar-item is-hoverable  has-text-weight-bold">
                <a class="navbar-item has-text-black" href="/withdraw">
                    <span>Withdraw</span>
                </a>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable lang-dropdown has-text-weight-bold nav-account">
                <a class="navbar-link is-arrowless has-text-black">
                    <span id="navbarlogin" hidden="true">account</span>
                    <span class="icon"><span class="mdi mdi-menu-down mdi-16px"></span></span>
                </a>
            </div>
        </div>
    </nav>
</nav>