{{#*inline "page"}}

<script type="module" src="/scripts/page/common.js"></script>
<script type="module" src="/scripts/page/overview.js"></script>
<p>
<div class="row is-center" id="balance"></div>
</p>
<p id="history" class="card"></p>
<div class="row">
  <div class="col is-center"></div>
</div>
<div class="row">
  <div class="col is-center">
    <button class="button outline" id="loadMore">LoadMore</button>
  </div>
</div>

{{/inline}}
{{> base_footer_header}}