{{#*inline "css"}}
{{/inline}}

{{#*inline "scripts"}}
<script type="module" src="/scripts/page/common.js"></script>
<script type="module" src="/scripts/page/overview.js"></script>
<script src="/scripts/handlebars.min-v4.7.7.js" defer></script>
<script src="https://unpkg.com/@popperjs/core@2" defer></script>
<script src="https://unpkg.com/tippy.js@6" defer></script>
{{/inline}}

{{#*inline "page"}}
<div class="box balance-box">
    <div class="total-balance-title">
        <span>Total Balance</span>
    </div>
    <div class="total-balance">
        <span id="total-balance-usd"></span><wbr><span id="total-balance-rub"></span>
    </div>
    <div class="content-separator"></div>
    <div id="balances"></div>
</div>
<div class="box history-box">
    <div class="history-header">Recent transactions</div>
    <div class="content-separator"></div>
    <div id="history-table">
    </div>
</div>
<button style="visibility: collapse" id="loadMore">LoadMore</button>
{{/inline}}

{{> base_with_header}}