<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@mdi/font@6.9.96/css/materialdesignicons.min.css">
    <script type="module" src="/scripts/localize.js"></script>
    <script type="module" src="/scripts/common.js"></script>
    <script type="module" src="/scripts/page/signup.js"></script>
    <script src="/scripts/handlebars.min-v4.7.7.js" defer></script>
</head>

<body>
    <div class="header" id="header"></div>
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-narrow">
                <div class="box" id="signup-box"></div>
            </div>
        </div>
    </div>
</body>

</html>