{{#*inline "css"}}
{{/inline}}

{{#*inline "scripts"}}
<script type="module" src="/scripts/common.js"></script>
<script type="module" src="/scripts/request.js"></script>
<script type="module" src="/scripts/page/swap.js"></script>
<script src="/scripts/handlebars.min-v4.7.7.js" defer></script>
{{/inline}}

{{#*inline "page"}}

<div class="container box">
    <div class="content-row mt-5">
        <span class="mr-2em" style="margin-right: 50px">From</span>
        <div class="dropdown mr-2em">
            <div class="dropdown-trigger">
                <button class="button">
                    <span id="currency-selection-from">choose currency</span>
                    <span class="icon">
                        <i class="mdi mdi-chevron-down"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu">
                <div id="currency-from" class="dropdown-content">
                  <span class="dropdown-item">
                      BTC
                  </span>
                  <span class="dropdown-item">
                      ETH
                  </span>
                  <span class="dropdown-item">
                      USDT
                  </span>
                </div>
            </div>
        </div>
        <input type="text" id="from_value" class="p-05em mr-2em">
        <label id="from_max" class=""></label>
    </div>
    <wbr>
    <div class="content-row mt-5">
        <span class="mr-2em" style="margin-right: 70px">To</span>
        <div class="dropdown mr-2em">
            <div class="dropdown-trigger">
                <button class="button">
                    <span id="currency-selection-to">choose currency</span>
                    <span class="icon">
                        <i class="mdi mdi-chevron-down"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu">
                <div id="currency-to" class="dropdown-content">
                  <span class="dropdown-item">
                      BTC
                  </span>
                  <span class="dropdown-item">
                      ETH
                  </span>
                  <span class="dropdown-item">
                      USDT
                  </span>
                </div>
            </div>
        </div>
        <input type="text" id="to_value" class="p-05em mr-2em">
        <label id="to_max" class=""></label>
    </div>
    <wbr>
    <div class="field" id="validation-error" hidden="true">
        <span class="is-danger">{{lang.alreadytaken}}</span>
    </div>
    <wbr>
    <div class="test">
        <button id="swap" class="button">Swap</button>
    </div>
</div>


{{/inline}}

{{> base_with_header}}
