{{#*inline "css"}}
{{/inline}}

{{#*inline "scripts"}}
<script type="module" src="/scripts/page/common.js"></script>
<script type="module" src="/scripts/page/withdraw.js"></script>
<script src="/scripts/handlebars.min-v4.7.7.js" defer></script>
{{/inline}}

{{#*inline "page"}}
<style>
    body {
        background-color: #ECEFF4;
    }

    .is-horizontal-center {
        justify-content: center;
    }
</style>
<div class="tabs is-large is-centered">
    <ul>
        {{#each tabs}}
        <li id="{{this}}-tab"><a class="is-uppercase">{{this}}</a></li>
        {{/each}}
    </ul>
</div>

{{#each tabs}}
<div id="{{this}}-tab-body">
</div>
{{/each}}
{{/inline}}

{{> base_with_header}}