{{#*inline "page"}}

<script type="module" src="/scripts/page/common.js"></script>
<script type="module" src="/scripts/page/withdraw.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bulma.min.css" />
<link rel="stylesheet" href="css/style.css">
<style>
body {
  background-color: #ECEFF4;
}

.is-horizontal-center {
  justify-content: center;
}

</style>
<div class="tabs is-large is-centered">
  <ul>
    <li>  <a id="btc-tab">BTC</a></li>
    <li class="is-active"><a id="eth-tab">ETH</a></li>
  </ul>
</div>

<div class="card column is-half is-offset-one-quarter">
  <div class='card-content'>
    <div class="columns is-center">
      <div class="column">
        Available: <span id="withdraw-bal"></span>
      </div>
      <div class="column has-text-right">
        Fee: <span id="withdraw-fee"></span>
      </div>
    </div>
    <div class="columns is-center">
      <div class="column">
          Address:
      </div>
      <div class="column is-8">
          <input class="input is-fullwidth" id="btc_address" type="text">
      </div>
    </div>
    <div class="columns is-center">
      <div class="column is-4">
          Amount:
      </div>
      <div class="column is-6">
          <input class="input" id="btc_send_amount" type="text">
      </div>
      <div class="column">
        <button id="max_btc"
         type="button" class="button is-fullwidth">
          Max
        </button>
      </div>
    </div>

    <div class="columns is-center">
      <div class="column">
        <button id="send_btc_eth" onclick="
        (function(){alert('sended')})
        "
         type="button" class="button is-info is-fullwidth item-buttom-d">
          Send
        </button>
      </div>

    </div>
  </div>
</div>


<div id="eth-tab-body" style="display: none;" class="card">
  <div class="row">
    <div class="col-6 text-center">
      Available: <span id="eth_balance" balance="{{btc_balance}}"> </span>
    </div>
    <div class="col-6 text-center">
      Fee: <span id="ethfee" fee={{ethfee}}>{{btc_fee}}</span>
    </div>
  </div>
  <div class="row is-center ">
    <div class="col-1 ">
      Address:
    </div>
    <div class="col-4 ">
      <input id="eth_address" type="text">
    </div>
    <div class="col-1 ">
      Amount:
    </div>
    <div class="col-3 ">
      <input id="eth_send_amount" type="text">
    </div>
    <div class="col-1 is-center">
      <button id="max_eth">Max</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12  is-center">
      <label id="eth_validation" hidden="hidden" class="text-error"></label>
    </div>
  </div>
  <div class="row ">
    <div class="col-12  is-center">
      <button id="send_eth">Send</button>
    </div>
  </div>
</div>
{{/inline}}
{{> base_footer_header}}
