{{#*inline "page"}}

<script type="module" src="/scripts/page/common.js"></script>
<script type="module" src="/scripts/page/withdraw.js"></script>

<nav class="tabs is-full">
  <a id="btc-tab" class="active">BTC</a>
  <a id="eth-tab">ETH</a>
</nav>
<div id="btc-tab-body">
  btcTab
</div>
<div id="eth-tab-body" style="display: none;">
  ethTab
</div>
{{/inline}}
{{> base_footer_header}}